@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  color: #333;
  background-image: linear-gradient(to bottom right, #ffe600 0%, #ff7c22 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(209, 209, 209, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 0rem 4rem 2rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #ff7c22;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.48);
  transform: scale(110%);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #ff7c22;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 52.5%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem 0.9rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 2rem;
}
.btn--roll {
  top: 40rem;
}
.btn--hold {
  top: 47.3rem;
}
.btn--wins {
  top: 23rem;
  background-color: #333;
  border-color: #333;
  color: white;
  box-shadow: 0 0rem 3rem #333;
  font-size: 2rem;
}
.btn--rules {
  top: 2rem;
  left: 7rem;
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  text-decoration: underline;
  border-radius: 0%;
  padding: 0.3rem 1rem;
}

/* DARK MODE */
input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: absolute;
  top: -6rem;
  left: 84.5rem;
  display: block;
  width: 40px;
  height: 20px;
  background: #333;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.3s;
  margin: 80px;
  padding: 0 2.5rem;
}

input[type="checkbox"]:checked ~ .check {
  background-color: whitesmoke;
  box-shadow: 0 0 0 1200px;
  z-index: 10;
}

.check:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.8s;
}

input[type="checkbox"]:checked ~ .check:before {
  transform: translateX(50px);
}

.check:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.8s;
  background: #333;
  transform: translateX(-50px);
}

input[type="checkbox"]:checked ~ .check:after {
  transform: translateX(0px);
}
/* END DARK MODE */

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn--rules:active {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #ff7c22;
}

.player--winner .score {
  color: rgb(209, 209, 209);
}

.hidden {
  display: none;
}

/* MODAL WINDOW RULES */

.btn--rules{
  font-size: 2rem;
  font-weight: 600;
  top: -3rem;
  padding: 0.5rem 2rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  opacity: 0.4;
  color: #444;
  border-radius: 1rem;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}