* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: silver;
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin: 10% 0;
}

.item {
  background-color: violet;
  margin: 10px;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  color: whitesmoke;
  align-self: center;
}

.item:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.item :nth-child(3) {
  display: flex;
  align-content: flex-end;
}
