body {
  background-color: whitesmoke;
}

.super-container {
  background-color: #111;
  color: whitesmoke;
  height: 550px;
  width: 280px;
  border-radius: 30px;
  margin: 20vh auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#output {
  font-size: 75px;
  font-weight: 200;
  margin-bottom: -90px;
  margin-right: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

input {
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0.29rem;
  font-size: 2.1rem;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.zero {
  padding-right: 105px;
  padding-left: 20px;
  border-radius: 50px;
}

.number {
  background-color: rgb(49, 49, 49);
  color: rgb(245, 246, 246);
}

.number:hover {
  background-color: rgb(121, 121, 121);
}

.clair {
  background-color: rgb(160, 160, 160);
  color: rgb(1, 1, 1);
  font-size: 1.7rem;
}

.clair:hover {
  background-color: rgb(218, 218, 218);
}

.orange {
  background-color: rgb(254, 153, 44);
  color: rgb(245, 246, 246);
  padding-bottom: 6px;
}

.orange:hover {
  background-color: whitesmoke;
  color: rgb(254, 153, 44);
}
